
<table style="width:100%">
  <tr>
    <th>Show Name</th>
    <th>Language</th>
    <th>Schedule</th>
    <th>Rating</th>
    <th>Network</th>
    <th>Image</th>
    <th>Summary</th>
  </tr>
  <tr *ngFor="let tvshowInfo of currentdata"> 
    <td>{{tvshowInfo.name | lowercase}}</td>
    <td>{{tvshowInfo.language | uppercase}}</td>
    <td>{{tvshowInfo.schedule}}</td>
    <td>{{tvshowInfo.rating}}</td>
    <td>{{tvshowInfo.networkname}}</td>
    <td><img [src]='tvshowInfo.image' sizes="60px" width="60px"/></td>
    <td>{{tvshowInfo.summary}}</td>
  </tr>
</table>
